{% extends "bootstrap/base.html" %}
{% block title %}Sample Kubernetes Flask App{% endblock %}

{% block styles -%}
    {{super()}}  {# do not forget to call super or Bootstrap's own stylesheets
                    will disappear! #}
            <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://getbootstrap.com/docs/3.3/dist/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="https://getbootstrap.com/docs/3.3/examples/carousel/carousel.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
<!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
        <div class="container">
  
          <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Flask K8S</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#contact">Contact</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Nav header</li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">One more separated link</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
  
        </div>
      </div>
{% endblock %}



{% block content %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <!--<img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">-->
            <img class="first-slide" src="/static/img/slide-01.jpg" alt="First slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Hello from Kubernetes!</h1>
                <p>Congrats!  You have successfully built and deployed an application on to Kubernetes!</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Don't click me</a></p>
              </div>
            </div>
          </div>
          <div class="item">
            <img class="second-slide" src="/static/img/slide-02.jpg" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>So, what do I do next?</h1>
                <p>Check out the sourcecode, mainly the <code>_kubernetes</code> directory to see how we are deploying this kubernetes.  Additionally check out the <code>Makefile</code> as well for options on building a deploying too.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Dont click me either</a></p>
              </div>
            </div>
          </div>
          <div class="item">
            <img class="third-slide" src="/static/img/slide-03.jpg" alt="Third slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>One more for good measure.</h1>
                <p>Go crack open a beer and contemplate how truly awesome you are.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">I said don't click me</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div><!-- /.carousel -->
  
  
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
  
      <div class="container marketing">
  
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="img-circle" src="/static/img/kubernetes-logo-large.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Kubernetes</h2>
            <p>Our container scheduling software</p>
            <p><a class="btn btn-default" href="https://kubernetes.io/" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="/static/img/docker-logo-340x340.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Docker</h2>
            <p>Our container runtime software</p>
            <p><a class="btn btn-default" href="https://docker.io" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <!--<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
            <img class="img-circle" src="/static/img/flask-logo-340x340.png" width="140" height="140">
            <h2>Flask</h2>
            <p>An easy to use python web framework</p>
            <p><a class="btn btn-default" href="http://flask.pocoo.org/" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
  
  
        <!-- START THE FEATURETTES -->
  
        <hr class="featurette-divider">
  
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">These logos are only here because I thought it makes the page look cool.  They serve no purpose other than being cool looking :) </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="/static/img/browser-icon-chrome.png" alt="Generic placeholder image">
          </div>
        </div>
  
        <hr class="featurette-divider">
  
        <div class="row featurette">
          <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">These logos are only here because I thought it makes the page look cool.  They serve no purpose other than being cool looking :) </p>
          </div>
          <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="/static/img/browser-icon-firefox.png" alt="Generic placeholder image">
          </div>
        </div>
  
        <hr class="featurette-divider">
  
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">These logos are only here because I thought it makes the page look cool.  They serve no purpose other than being cool looking :) </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="/static/img/browser-icon-safari.png" alt="Generic placeholder image">
          </div>
        </div>
  
        <hr class="featurette-divider">
  
        <!-- /END THE FEATURETTES -->
  
  
        <!-- FOOTER -->
        <footer>
          <p class="pull-right"><a href="#">Back to top</a></p>
          <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">All Logos are copyright of their respective projects and companies.</a></p>
        </footer>
  
      </div><!-- /.container -->
  
  
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
      <script src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
      <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
      <script src="https://getbootstrap.com/docs/3.3/js/vendor/holder.min.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="https://getbootstrap.com/docs/3.3/js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}
